<%- include('../partial/_header.ejs') %>
    <main class="maincontent bgmcolor">
        <section>
            <div class="container">
                <div class="p-4 p-md-5 mb-4 text-light rounded bg-dark">
                    <div class="col-md-6 px-0">
                        <h1 class="display-4 font-italic">Title of a longer featured Blog post</h1>
                        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
                    </div>
                </div>
                <div class="container">
                    <div class="col-md-12 card">
                        <p>
                            <h3>Blog Title</h3>
                            <img src="./image/images.jpeg" width="50px" height="50px">
                            <span>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, nesciunt.
                            </span>
                        </p>
                        <button type="button" class="bttn">
                            <a href="/Blog">Read more...</a>
                        </button>
                    </div>
                    <div class="col-md-12 card">
                        <p>
                            <h3>Blog Title</h3>
                            <img src="./image/images.jpeg" width="50px" height="50px">
                            <span>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, nesciunt.
                            </span>
                        </p>
                        <button type="button" class="bttn">
                            <a href="/Blog">Read more...</a>
                        </button>
                    </div>
                    <div class="col-md-12 card">
                        <p>
                            <h3>Blog Title</h3>
                            <img src="./image/images.jpeg" width="50px" height="50px">
                            <span>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, nesciunt.
                            </span>
                        </p>
                        <button type="button" class="bttn">
                            <a href="/Blog">Read more...</a>
                        </button>
                    </div>
                    <div class="col-md-12 card">
                        <p>
                            <h3>Blog Title</h3>
                            <img src="./image/images.jpeg" width="50px" height="50px">
                            <span>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, nesciunt.
                            </span>
                        </p>
                        <button type="button" class="bttn">
                            <a href="/Blog">Read more...</a>
                        </button>
                    </div>
                </div>
        </section>
    </main>

    <%- include('../partial/_footer.ejs') %>