<header>
    <nav>
        <ul>
            <li><a href="/user/signin">Log in</a></li>
            <li><a href="/user/signup">Sign up</a></li>
            <li><a href="/user/auth/google">Google signin/signup</a></li>
        </ul>
    </nav>
</header>