<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../partial/_header.ejs') %>
        <main>
            <section>
                THis is my profile page
                <!-- <a href="/user/verifyMobile">Verify Mobile Number</a> -->
                <!-- <a href="/user/logout">Logout</a> -->
            </section>
        </main>
        <%- include('../partial/_footer.ejs') %>
</body>

</html>