<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="shortcut icon" href="/image/lock.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container flex justify-content-center align-item-center">
        <div class="card">
            <div class="card-title">
                <h1>Log In</h1>
            </div>
            <div class="button-container">
                <button class="btn btn-2"><a href="/user/auth/google">Sign in with Google</a></button>
            </div>
            <hr class="mb-40px">
            <form action="/user/createSession" method="post">
                <div class="mb-1">
                    <label for="userEmail">Email</label>
                    <input class="form-control" type="email" name="email" id="userEmail" placeholder="@gmail.com" required>
                </div>
                <div class="mb-1">
                    <label for="userPassword">Password</label>
                    <input class="form-control" type="password" name="password" id="userPassword" placeholder="Password" required>
                </div>
                <div class="mb-1 flex justify-content-center mb-40px">
                    <!-- <div class="signupLink">
                        <a href="#">Forgot Password?</a>
                    </div> -->
                    <div class="signupLink">
                        Are you already a user? <a href="/user/signup">Register</a>
                    </div>
                </div>
                <div class="button-group col-center">
                    <button type="submit" class="btn btn-1">Sign In</button>
                    <button type="button" class="btn btn-1">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>